<!DOCTYPE html>
<html>
    <head>
        <title>Thank You for Signing Up!</title>
    </head>
    <body>
        <h1>Hello <%= username %>, welcome to Godswill's Book Management System!</h1>
        <p>Make yourself comfortable around here, explore other readers' collections or create listings of your own:<br>Go to "add a book to start creating your own collections.</p>
    </body>
</html>